doctype html
html(lang='en').h-100
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        // CSS only
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous')
        // JavaScript Bundle with Popper
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa' crossorigin='anonymous')
        link(rel='stylesheet' href='./client/landing.css')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        title Eareyes
    body.h-100
        div.h-100#scrollsnap
            section#hero.min-vh-100.w-100.d-flex
                .d-flex.flex-column.mx-auto
                    .d-flex.mx-auto
                        p.h1.me-2#event-name Eareyes
                            p.h3#hinge 2022
                    p.h4.m-auto.d-flex Department of Electronics and Instrumentation Engineering
                    div#boom 
            section#about.min-vh-100.w-100.d-flex
                .d-flex.flex-column.px-5
                    #box.border.rounded-4.p-4.m-5
                        p.h2 About The Department
                        p.h6
                            | The Department of Electronics and Instrumentation
                            | Engineering is offering a full time four year B.E
                            | degree course in Electronics and Instrumentation
                            | Engineering and M.E course in Control and
                            | Instrumentation Engineering. This field of engineering
                            | imparts technical knowledge in the areas of
                            | ElectronicsEngineering,Biomedical Instrumentation,
                            | Control Systems, Signal and Image Processing,
                            | Embedded Systems, VLSI, Neural Networks and Fuzzy
                            | Logic. Department has sound infrastructural facilities
                            | including separate laboratories like Biomedical
                            | Instrumentation, Virtual Instrumentation, DSP, PLC
                            | and DCS. Competent faculty and established library
                            | are the highlights of theDepartment.

                    #box.border.rounded-4.p-4.m-5
                        p.h2 About The Event
                        p.h6 National Level Inter College Techinal Symposium hosted by department of electronics and instrumentation engineering in coordination with EIE Association to ensure that any talent shouldn't go unaccounted and to be regarded with reward and recognition. This have always been the motive for SENSONICS throughout the years. So once again on the year 2022 this wonderful platform have been created for intellectual minds to exhibit skills on their area of interest and an opportunity to explore and develop in both Social and technical sides.
                    #box.border.rounded-4.p-4.m-5
                        h2 Registration Details
                        p
                            | Registration fee for technical and non-technical event will be 250/-per person. 
                        br
                        strong For Queries:
                        br
                        | Dharani Dharan D - +91 9361502532 
                        br
                        | Sree Vadhani M - +91 9344304667
            section#events.min-vh-100.w-100.d-flex
                #carouselExampleFade.carousel.slide.carousel-fade(data-bs-ride='carousel')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-75.h-50(src='./assets/about-bg.jpg' alt='..6n6.')
                            .carousel-caption.d-none.d-md-block
                                p.h4 First slide label
                                p.h6 Some representative placeholder content for the first slide.
                        .carousel-item
                            img.d-block.w-75.h-50(src='./assets/blend-with.jpg' alt='.6n6n..')
                            .carousel-caption.d-none.d-md-block
                                p.h4 First slide label
                                p.h6 Some representative placeholder content for the first slide.
                        .carousel-item
                            img.d-block.w-75.h-50(src='./assets/code-dump.jpg' alt='.6h6h..')
                            .carousel-caption.d-none.d-md-block
                                p.h4 First slide label
                                p.h6 Some representative placeholder content for the first slide.
                    button.carousel-control-prev(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next

            
        script(src="./client/landing.js") 
        script(src="./client/three.min.js")
        script(src="./client/space.js")  


