doctype html
html(lang='en').h-100
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        // CSS only
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous')
        // JavaScript Bundle with Popper
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa' crossorigin='anonymous')
        //green sock
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
        //animate css
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        link(rel='stylesheet' href='./client/landing.css')
        title Eareyes
    body.h-100
        header.ms-2.fixed-top
            nav.navbar 
                ul.nav-menu 
                    li.nav-item 
                        a.nav-link(herf="#") Home
                    li.nav-item 
                        a.nav-link(herf="#about") About
                    li.nav-item 
                        a.nav-link(herf="#") Events
                    li.nav-item 
                        a.nav-link(herf="#") Schedule
                    li.nav-item 
                        a.nav-link(herf="#") Contact
                .hamburger 
                    span.bar
                    span.bar
                    span.bar
        div.h-100#scrollsnap
            section#hero.min-vh-100.mw-100.d-flex.ss
                .d-flex.flex-column.mx-auto
                    .d-flex.mx-auto#title
                        p.h1.me-2#event-name Eareyes
                        p.h3.my-auto#hinge 2022
                    p.h4.mx-auto#hero-dep Department of Electronics and Instrumentation Engineering
                    img#boom(src="../assets/object.webp")
            section#about.mw-100
                .d-flex.px-5.vh-100.w-100.ss1
                    #box.m-5
                        p.h2#ah1 About The Department
                        p.h6#ap1
                            | The Department of Electronics and Instrumentation
                            | Engineering is offering a full time four year B.E
                            | degree course in Electronics and Instrumentation
                            | Engineering and M.E course in Control and
                            | Instrumentation Engineering. This field of engineering
                            | imparts technical knowledge in the areas of
                            | ElectronicsEngineering,Biomedical Instrumentation,
                            | Control Systems, Signal and Image Processing,
                            | Embedded Systems, VLSI, Neural Networks and Fuzzy
                            | Logic. Department has sound infrastructural facilities
                            | including separate laboratories like Biomedical
                            | Instrumentation, Virtual Instrumentation, DSP, PLC
                            | and DCS. Competent faculty and established library
                            | are the highlights of theDepartment.
                .d-flex.ss.vh-100.w-100
                    #box.m-5
                        p.h2#ah2 About The Event
                        p.h6#ap2 National Level Inter College Techinal Symposium hosted by department of electronics and instrumentation engineering in coordination with EIE Association to ensure that any talent shouldn't go unaccounted and to be regarded with reward and recognition. This have always been the motive for SENSONICS throughout the years. So once again on the year 2022 this wonderful platform have been created for intellectual minds to exhibit skills on their area of interest and an opportunity to explore and develop in both Social and technical sides.
                .d-flex.px-5.ss.vh-100.w-100
                    #box.m-5
                        h2.h2#ah3 Registration Details
                        p.h6#ap3
                            | Registration fee for technical and non-technical event will be 250/-per person. 
                            br
                            strong For Queries:
                            br
                            | Dharani Dharan D - +91 9361502532 
                            br
                            | Sree Vadhani M - +91 9344304667
            section#events.h-100.w-100.d-flex.ss
               .event1 
                p jkhuyfiubiyugiyug
            
        script(src="./client/landing.js") 
        script(src="./client/three.min.js")
        script(src="./client/space.js")  


